
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}

<h2>Back Office</h2>

@**<a href=@Url.Action("Create") class="btn btn-info">i class="fa fa-plus-circle"><i class="fa fa-plus-circle"></i> Destinations</a>*@
<a href="@Url.Action("Index", "Destinations")">Gérér les Destinations</a>
