
@{
    ViewBag.Title = "Index";
}

<h2>Prochains voyages (départ dans les 15 prochains jours)</h2>

@*
    @Html.Action("DossiersReservationsAwaitingReturn", "SharedBO")
*@

@Html.Action("TopFifteenTravels", "SharedBO")
