
@{
    ViewBag.Title = "A propos de BoVoyage...";
}

<h2>A propos</h2>

<p>L'entreprise BoVoyage à été crée le 14 Mai 2018. Grâce à son site révolutionnaire et après une progression fulgurante dans le monde des bos voyages, elle a été sacrée Championne du Monde le 15 juillet 2018.</p>
