@model IEnumerable<BoVoyageProjetFinal.Models.Travel>
@{
    ViewBag.Title = "Index";
}

<h2>Accueil</h2>

<h3>Top 5 des voyages les moins couteux</h3>
@Html.Action("TopFiveAllInclusivePrice", "Shared")

<div class="row">

</div>
<h3>Top 5 des voyages dont la date de départ est la plus proche</h3>
@Html.Action("TopFiveTravelsDepartureDate", "Shared")

<h3>Top 5 des voyages dont les pays sont les plus présents</h3>
@Html.Action("TopFiveTravelsCountry", "Shared")
